# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.python-version
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Django migrations (se versionan)
!/dispositivos/migrations/
!/dispositivos/migrations/*.py
!/dispositivos/migrations/__init__.py
